CsvTableImport/ArmTemplates/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_MoveDrivingData_name": {
            "defaultValue": "MoveDrivingData",
            "type": "String"
        },
        "connections_azureblob_externalid": {
            "defaultValue": "",
            "type": "String"
        },
        "connections_onedrive_externalid": {
            "defaultValue": "",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_MoveDrivingData_name')]",
            "location": "centralus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_file_is_created": {
                            "recurrence": {
                                "frequency": "Week",
                                "interval": 1
                            },
                            "metadata": {
                                "E2BE4081E26923F2!919081": "/drivingdata"
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['onedrive']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/triggers/onnewfile",
                                "queries": {
                                    "folderId": "E2BE4081E26923F2!919081",
                                    "inferContentType": true
                                }
                            }
                        }
                    },
                    "actions": {
                        "Create_blob": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "@triggerBody()",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/files",
                                "queries": {
                                    "folderPath": "/rawzips",
                                    "name": "@base64ToString(triggerOutputs()['headers']['x-ms-file-name-encoded'])",
                                    "queryParametersSingleEncoded": true
                                }
                            },
                            "runtimeConfiguration": {
                                "contentTransfer": {
                                    "transferMode": "Chunked"
                                }
                            }
                        },
                        "Delete_file": {
                            "runAfter": {
                                "Extract_archive_to_folder": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['onedrive']['connectionId']"
                                    }
                                },
                                "method": "delete",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerOutputs()['headers']['x-ms-file-id']))}"
                            }
                        },
                        "Extract_archive_to_folder": {
                            "runAfter": {
                                "Create_blob": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/datasets/default/extractFolderV2",
                                "queries": {
                                    "destination": "/unzipped",
                                    "overwrite": true,
                                    "queryParametersSingleEncoded": true,
                                    "source": "@body('Create_blob')?['Path']"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureblob": {
                                "connectionId": "[parameters('connections_azureblob_externalid')]",
                                "connectionName": "azureblob",
                                "id": ""
                            },
                            "onedrive": {
                                "connectionId": "[parameters('connections_onedrive_externalid')]",
                                "connectionName": "onedrive",
                                "id": ""
                            }
                        }
                    }
                }
            }
        }
    ]
}